.signupForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    left: 50%;
    padding: 20px 50px 40px 50px;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.container {
    width: 100%;
    height: calc(100vh - var(--header-height));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    height: 50px !important;
    font-size: large;
    margin-bottom: 10px;
}

@media screen and (max-width: 650px) {
    .signupForm{
        width: 350px;
    }
}

small{
    color: rgba(255, 53, 53);
    transition: .25s;
    position: absolute;
    top: 0;
    right: 0;
}

.loader{
    position: absolute;
    bottom: 0;
    left: 0;
}