<mat-card class="card">
    <mat-card-content class="content">
        <mat-icon class="compu">computer</mat-icon>
        <table>
            <tr>
                <th>Servidor</th>
                <td>{{server.ip}}</td>
            </tr>
            <tr>
                <th>Ús CPU</th>
                <td>{{server.cpu | number : '1.2-2'}}%</td>
            </tr>
            <tr>
                <th>Ús RAM</th>
                <td>{{server.ram | number : '1.2-2'}}%</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
