<div id="fsmodal">
    <div id="fsexplorer">
        <div id="header">Contingut de: <strong>/SHARED</strong>
            <img src="/assets/img/cross.svg" id="close" (click)="close()"/>
        </div>
        <div id="content">
            <div id="scrolleable">
                <div class="item back"><img src="/assets/img/back.svg"/> Tornar enrere</div>
                <div class="item"><img src="/assets/img/folder.svg"/> Aixo es un item</div>
                <div class="item"><img src="/assets/img/file.svg"/> Aixo es un item</div>
                <div class="item"><img src="/assets/img/folder.svg"/> Aixo es un item</div>
                <div class="item"><img src="/assets/img/file.svg"/> Aixo es un item</div>
                <div class="item"><img src="/assets/img/folder.svg"/> Aixo es un item</div>
                <div class="item"><img src="/assets/img/file.svg"/> Aixo es un item</div>
                <div class="item"><img src="/assets/img/folder.svg"/> Aixo es un item</div>
                <div class="item"><img src="/assets/img/file.svg"/> Aixo es un item</div>
                <div class="item"><img src="/assets/img/folder.svg"/> Aixo es un item</div>
                <div class="item"><img src="/assets/img/file.svg"/> Aixo es un item</div>
                <div class="item"><img src="/assets/img/folder.svg"/> Aixo es un item</div>
                <div class="item"><img src="/assets/img/file.svg"/> Aixo es un item</div>
                <div class="item"><img src="/assets/img/folder.svg"/> Aixo es un item</div>
                <div class="item"><img src="/assets/img/file.svg"/> Aixo es un item</div>
                <div class="item"><img src="/assets/img/folder.svg"/> Aixo es un item</div>
                <div class="item"><img src="/assets/img/file.svg"/> Aixo es un item</div>
            </div>
        </div>
    </div>
</div>
