<mat-card class="card">
    <mat-card-content class="content">
        <span class="dockername"><label>Imatge:</label> {{app.docker_image}}</span>
        <img [src]="app.logo" onerror="this.src='/assets/img/placeholder.png'" />

        <mat-form-field>
            <mat-label>Nom visible</mat-label>
            <input matInput placeholder="Nom visible de l'applicacó" [(ngModel)]="app.name" maxlength="255" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Logo SRC</mat-label>
            <input matInput placeholder="Enllaç o codi B64 de la imatge a mostrar" [(ngModel)]="app.logo" required>
        </mat-form-field>
        <mat-checkbox color="primary" [(ngModel)]="app.availableUnauth">Accesible sense autenticació</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="app.availableAnyAuth" [disabled]="app.availableUnauth">Accesible sense rol</mat-checkbox>
        <mat-form-field appearance="fill">
            <mat-select placeholder="Accesible per rols" [(ngModel)]="app.roles" multiple [disabled]="app.availableUnauth || app.availableAnyAuth">
                <mat-option *ngFor="let role of roles" [value]="role.id">
                    {{ role.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="save()">Guardar</button>
        <span class="new" *ngIf="app.pendingConfig">Pendent de configurar</span>
        
    </mat-card-content>
    <mat-progress-bar *ngIf="loading" class="linload" mode="indeterminate"></mat-progress-bar>
</mat-card>
