<div class="content-container" [class.content-container-aside-disabled]="!asideActive">
    <app-content-navigation [openApps]="globals.openApps" (closeAppEvent)="closeAppEvent.emit($event)" (openAppEvent)="openAppEvent.emit($event)"></app-content-navigation>
    <div id="display" [ngClass]="{ 'black-bg': globals.activeApp && globals.openAppsStreams[globals.activeApp.name].stream}">
        <video *ngIf="globals.activeApp && globals.openAppsStreams[globals.activeApp.name].stream"
            [srcObject]="globals.openAppsStreams[globals.activeApp.name].stream"
            (mousemove)="onVideoMouseMove($event)"
            (pointerdown)="onVideoMouseDown($event)"
            (pointerup)="onVideoMouseUp($event)"
            oncontextmenu="return false;"
            #stream autoplay>
        </video>
        <div class="bg-ico" *ngIf="!globals.activeApp">
            <img src="/assets/img/happy.svg"/>
            <h3>Selecciona una aplicació a executar</h3>
        </div>
        <div class="loader" *ngIf="globals.activeApp && !globals.openAppsStreams[globals.activeApp.name].stream"></div>
    </div>
</div>
<div class="fallback-resolution">
    <img src="/assets/img/sad.svg"/>
    <h3>Actualment la pàgina no està preparada per a la resolució del teu dispositiu.</h3>
</div>

