<h2>Usuaris registrats al sistema</h2>
<div class="container">
    <table mat-table [dataSource]="dataSource">
        
        <!-- Nom d'usuari -->
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Nom d'usuari </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <!-- Email -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Grup -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Rol </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>

        <!-- Data de creació -->
        <ng-container matColumnDef="createtime">
            <th mat-header-cell *matHeaderCellDef> Data de registre </th>
            <td mat-cell *matCellDef="let element"> {{element.createTime}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-progress-bar *ngIf="loading" class="linload" mode="indeterminate"></mat-progress-bar>
    <mat-paginator [pageSize]="10" showFirstLastButtons hidePageSize="true">
        
    </mat-paginator>
    <button mat-button class="refresh" (click)="getUsers()"><mat-icon>refresh</mat-icon>Tornar a carregar</button>
</div>