table {
    width: 100%;
}

.container {
    margin: 20px 3px 100px 3px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    position: relative;
}

.refresh {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.nowarp{
    white-space: nowrap !important;
}