<header>
    <img src="/assets/img/aside-icon.svg" id="toggle-aside" (click)="toggleAside()" />
    <div id="logo" (click)="main()">
        <img src="/assets/img/logo.svg" />
        <h1>VIRTUALITZADOR D'APLICACIONS</h1>
    </div>
    <span class="spacer"></span>
    <a *ngIf="!state.username" routerLink="/login" color="white" mat-button>Iniciar sessió</a>
    <button *ngIf="state.username" mat-button color="white" [matMenuTriggerFor]="menu">{{state.username}}</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openConfig()">Obrir la configuració<mat-icon>settings</mat-icon></button>
        <mat-divider *ngIf="state.username == 'admin'"></mat-divider>
        <button mat-menu-item (click)="state.logout()">Tancar la sessió <mat-icon>exit_to_app</mat-icon></button>
    </mat-menu>
</header>