<nav>
    <div class="open-apps" id="openApps" (wheel)="onWheel($event)" #openAppsDiv>
        <ng-container *ngFor="let app of openApps">
            <app-application [inOpenApps]="true" [app]=app></app-application>
        </ng-container>
    </div>
    <div class="tools">
        <span class="vr"></span>
        <img [ngClass]="{'disabled': openApps.length==0}" src="/assets/img/folder.svg" id="open-fs" (click)="openFS()"/>
        <img [ngClass]="{'disabled': openApps.length==0}" src="/assets/img/fullscreen.svg" id="toggle-fullscreen" (click)="openFullscreen()"/>
    </div>
</nav>