<h2>Rols disponibles</h2>
<mat-progress-bar *ngIf="loading" class="linload" mode="indeterminate"></mat-progress-bar>
<mat-form-field class="chip-list" appearance="fill">
    <mat-label>Rols</mat-label>
    <mat-chip-grid #chipGrid>
        <mat-chip-row *ngFor="let rol of thisObj.roles" (removed)="remove(rol)" [editable]="true" (edited)="edit(rol, $event)">
            {{rol.name}}
            <button matChipRemove>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>
        <input placeholder="Nou rol..." [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="add($event)" />
    </mat-chip-grid>
</mat-form-field>
<app-user-list [roles]="thisObj.roles"></app-user-list>